<h1>Password reset</h1>

<p>
  To reset Your password click below:
</p>
<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>
<p>
This link will expire within hour
</p>
